.container {
    margin: 0 auto;
    width: 700px;
    height: 450px;
}

.row{
    margin-bottom: .6rem;
}

.row-wrap{
    display:flex;
    justify-content: space-between;
    text-align: left;
}

.row::after {
    content: "";
    display: table;
    clear: both; }
.row [class^="col-"] {
    float: left; }
.row [class^="col-"]:not(:last-child) {
    margin-right: 3rem; }